//fonts

$Helvetica: 'Helvetica';

$font-variant-hairline: 100;
$font-variant-light: 200;
$font-variant-regular: 400;
$font-variant-medium: 500;
$font-variant-semi-bold: 600;
$font-variant-bold: 700;
$font-variant-bolder: 800;
$font-variant-black: 900;

